body {
    background-image: url("../public/background.png");
    background-repeat: repeat;
    background-size: 8%;
    background-attachment: fixed;
}

a {
    text-decoration: none; 
    color: black; 
}

.resultEntry {
    backdrop-filter: blur(5px);
    background-color: rgba(255,255,255,0.8);
    display: 'contents';
    text-align: 'center';
}

li.MuiListItem-root {
    border-radius: 20px;
}

li.MuiListItem-root:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

a.userlink {
    text-decoration: underline;
    color: rgb(14, 89, 226);
}

div.MuiListItemText-root {
    padding: 20px; 
    float: left; 
    width: 40%; 
}

div.MuiListItemText-root.left {
    text-align: left;
}

div.MuiListItemText-root.right {
    text-align: right;
}

div.resultEntry {

}

li.MuiDivider-root {
    width: 95%;
}

.playerName:hover{
    color: darkturquoise;
}

.navitem {
    padding-right: 20px;
    font-size: 30px;
    vertical-align: middle;
    color: white;
    opacity: 0.9;
}

.sticky-nav {
    background-color: rgba(0,0,0,0.4);
    position: sticky;
    top: 0;
    left: 0;
    height: 50px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding-left: 160px;
    z-index: 999;
}

h1 {
    display: inline-block;
    background-color: rgba(255,255,255,0.8);
    padding: 5px;
}