body {
    background-image: url('../public/background.png');
    background-repeat: repeat;
    background-size: 8%;
    background-attachment: fixed;
}

a {
    text-decoration: none; 
    color: black; 
}

.resultEntry {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba(255,255,255,0.8);
    position: relative;
    border-radius: 20px;
}

.resultEntry:hover {
    background-color: rgba(56, 150, 212, 0.5);
}

a.userlink {
    text-decoration: underline;
    color: rgb(14, 89, 226);
}

#leftPlayerName {
    text-align: left;
    float: left;
    white-space: nowrap;
    padding: 30px; 
    width: 30%;
}

#rightPlayerName {
    text-align: right;
    float: right;
    white-space: nowrap;
    padding: 30px; 
    width: 30%;
}

#leftPlayerName div {
    float: left;
    width: max-content;
    font-size: 2rem;
}

#rightPlayerName div {
    float: right;
    width: max-content;
}

#centervs {
    text-align: center;
}

.MuiDivider-root {
    width: 95%;
}

#leftPlayerName div :hover {
    background:rgba(255,255,255,0.8);
    border-radius: 5px;
}

#rightPlayerName div :hover {
    background:rgba(255,255,255,0.8);
    border-radius: 5px;
}

.navitem {
    padding-right: 20px;
    font-size: 30px;
    vertical-align: middle;
    color: white;
    opacity: 0.9;
}

.sticky-nav {
    background-color: rgba(0,0,0,0.4);
    top: 0;
    position: sticky;
    height: 50px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding-left: 160px;
    z-index: 999;
}

h1 {
    width: max-content;
    background-color: rgba(255,255,255,0.8);
    padding: 5px;
}

h2 {
    width: max-content;
    background-color: rgba(255,255,255,0.8);
    padding: 5px;
}

.playerContainer {
    width: 30%;
}

.entryList {
    width: 80%;
}

a.MuiChip-root {
    margin: 8px;
    padding: 8px;
    font-size: 24px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba(255,255,255,0.8);
}

a.MuiChip-root:hover {
    background-color: rgba(56, 150, 212, 0.5);
    cursor: pointer;
}

span.MuiTypography-root {
    font-size: 20px;
}

span.MuiCircularProgress-root {
    position: absolute;
    left: 50%;
    top: 20%;
}