body {
    background-image: url("../public/background.png");
    background-repeat: repeat;
    background-size: 8%;
    background-attachment: fixed;
}

a {
    text-decoration: none; 
    color: black; 
}

.resultEntry {
    backdrop-filter: blur(5px);
    background-color: rgba(255,255,255,0.8);
    display: 'contents';
    text-align: 'center';
    position: relative;
}

.MuiListItem-root {
    border-radius: 20px;
}

.MuiListItem-root:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

a.userlink {
    text-decoration: underline;
    color: rgb(14, 89, 226);
}

#leftPlayerName {
    text-align: left;
    float: left; 
    white-space: nowrap;
    padding: 30px; 
    width: 30%;
}

#rightPlayerName {
    text-align: right;
    float: right;
    white-space: nowrap;
    padding: 30px; 
    width: 30%;
}

#leftPlayerName div {
    float: left;
    width: max-content;
}

#rightPlayerName div {
    float: right;
    width: max-content;
}

#centervs {
    /* position: absolute; */
    /* left: 50%; */
    /* left: 50%; */
    text-align: center;
    /* float: center; */
    /* float: 50%; */
    /* width: max-content; */
}

li.MuiDivider-root {
    width: 95%;
}

#leftPlayerName:hover {
    color: darkturquoise;
}

#rightPlayerName:hover {
    color: darkturquoise;
}

.navitem {
    padding-right: 20px;
    font-size: 30px;
    vertical-align: middle;
    color: white;
    opacity: 0.9;
}

.sticky-nav {
    background-color: rgba(0,0,0,0.4);
    position: sticky;
    top: 0;
    left: 0;
    height: 50px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding-left: 160px;
    z-index: 999;
}

h1 {
    display: inline-block;
    background-color: rgba(255,255,255,0.8);
    padding: 5px;
}